set enable-bracketed-paste on

# mappings for Ctrl-left-arrow and Ctrl-right-arrow for word moving
# (https://askubuntu.com/questions/162247/why-does-ctrl-left-arrow-not-skip-words/288530)
"\e[1;5C": forward-word
"\e[1;5D": backward-word
"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word
$if term=rxvt
"\e[8~": end-of-line
"\eOc": forward-word
"\eOd": backward-word
$endif
## For non RH/Debian xterm, can't hurt for RH/Debian xterm
# "\eOH": beginning-of-line
# "\eOF": end-of-line
## for freebsd console
# "\e[H": beginning-of-line
# "\e[F": end-of-line
# $endif
