!############
! Usage notes
!############
!
! Load a resource file (such as the conventional .Xresources), replacing any current settings:
! $ xrdb ~/.Xresources
!
! Load a resource file, and merge with the current settings:
! $ xrdb -merge ~/.Xresources

!##########
! Scrolling
!##########
! By default, when shell output appears the scrollback view will automatically jump to the bottom of the buffer to display new output. If in cases where you want to see previous output (e.g., compiler messages), set the following options in ~/.Xresources:
! do not scroll with output
URxvt*scrollTtyOutput: false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true
! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true
!
! When you scroll a pager in a secondary screen (e.g. less without the -X option), it may be a good idea to disable the scrollback buffer to be able to scroll in the pager itself, instead of the terminals buffer: this is default and unchangeable behaviour in konsole and vte-based terminals.
! In urxvt, to disable the scrollback buffer for the secondary screen:
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
! The above configuration works as expected except when scrolling with a mouse wheel.

!##############
! DPI and fonts
!##############
! DPI of Ilyama HD monitor at work
!Xft.dpi:          92
! DPI of Dell XPS 15 9550 4K display
!Xft.dpi:          220
URxvt.font:       xft:DejaVuSansMono:size=12
URxvt.italicFont: xft:DejaVuSansMono:size=12
! By default the distance between characters can feel too wide. The spacing can be reduced by one pixel as such:
!URxvt.letterSpace: -1

!###############################
! Colours and other visual stuff
!###############################
URxvt.depth: 32
URxvt.internalBorder: 3
URxvt.transparent: false
URxvt.visualBell: true

! Disable 'Keycap Picture Insert Mode' when press Ctrl-Shift
! (NB mode is used for inserting unicode characters):
URxvt.iso14755: false
URxvt.iso14755_52: false

#include ".Xresources.d/colours"

!################
! Perl extensions
!################
! NB 'clipboard' works on Arch, 'selection-to-clipboard' works on Mint
! URxvt.perl-ext-common: default,clipboard,selection-to-clipboard,matcher,url-select
URxvt.perl-ext-common: default,url-select

!###############
! Clickable URLs
!###############
!URxvt.url-launcher: /usr/bin/xdg-open
!! Since rxvt-unicode 9.14, it is also possible to use matcher to open and list recent (currently limited to 10) URLs via keyboard: 
!URxvt.matcher.button: 1
!URxvt.keysym.C-Delete: perl:matcher:last
!URxvt.keysym.M-Delete: perl:matcher:list
!! Matching links can be colored with a chosen foreground or background color, for example blue:
!URxvt.matcher.rend.0: Uline Bold fg5

!##############
! Yankable URLs 
!##############
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
! Alt+u    Enter selection mode. The last URL on your screen will be selected. You 
!          can repeat Alt+u to select the next upward URL.
! k        Select next upward URL
! j        Select next downward URL
! Return   Open selected URL in browser and quit selection mode
! o        Open selected URL in browser without quitting selection mode
! y        Copy (yank) selected URL and quit selection mode
! Esc      Cancel URL selection mode 

!###############
! Copy and paste
!###############
!URxvt.keysym.C-S-C:   perl:clipboard:copy
!URxvt.keysym.C-S-V:   perl:clipboard:paste
!URxvt.keysym.C-A-V:   perl:clipboard:paste_escaped
!*VT100.Translations: #override \
!                    ~Meta Shift Ctrl <Key>V:    insert-selection(CLIPBOARD) \n\
!                    ~Meta Shift Ctrl <Key>C:    select-end(CLIPBOARD, CUT_BUFFER1) 

!###################
! Keyboard movements
!###################
!Xterm escapes, word by word movement
URxvt.keysym.Control-Left:    \033[1;5D
URxvt.keysym.Control-Right:    \033[1;5C
